@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    background-color: orange;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.device-container{
    margin: auto;
    height: 500px;
    width: 300px;
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 25px;
    border-width: 7px;
    border-style: solid;
    border-color: #424242;
    display: flex;
    flex-direction: column;
}

.camera{
    background-color: #424242;
    margin: 0 auto;
    margin-top: 10px;
    height: 12px;
    width: 12px;
    border-radius: 10px;
}

.home-body{
    padding: 6% 7%;
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    flex: 1;
}


.home-body>h4{
    /* font-family: 'Roboto Slab', serif;
    font-size: xx-large; */
    font-size: smaller;
}

.bottom{
    padding: 3% 7%;
}



.search-bar{
    position: relative;
}

.search-bar>i{
    position:absolute;
    top: 4px;
    right: 7px;
}
.search-bar>input{
    width: 100%;
    padding: 1.5% 4%;
    border-radius: 15px;
    border-style: none;
    outline-style: none;
    font-family: 'Nunito', sans-serif;
}

.bottom-nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.bottom-nav>i{
    padding: 3%;
    font-size: x-large;
    
}

.ri-chrome-fill{
    color: orange;
}

.ri-camera-fill{
    color: greenyellow;
}

.ri-chat-1-line{
    color:crimson
}

.ri-phone-fill{
    color: fuchsia;
}